@import '../../styles';
@import './material';
@import './dialog';

html,
body {
    font-size: 100%;
    height   : 100%;
}

html {
    box-sizing: border-box;
    transition: background-color $duration-short ease;
}

body {
    margin  : 0;
    overflow: auto;
}
