@import '../../styles';

html,
body {
    font-size: 100%;
}

html {
    @include transition-background-color;

    box-sizing: border-box;
}

body {
    margin  : 0;
    overflow: auto;
}

// Angular material overrides below
.mat-raised-button {
    font-weight: 700;
}

.mat-tooltip {
    font-size: 12px;
}