@import '../../styles';

html,
body {
    font-size: 100%;
    height   : 100%;
}

html {
    box-sizing: border-box;
    transition: background-color $duration-short ease;
}

body {
    margin  : 0;
    overflow: auto;
}

// Angular material overrides below
.mat-raised-button {
    font-weight: 700;
}

.mat-tooltip {
    font-size: 12px;
}