mat-form-field.mat-form-field {
    display: block;
}

button.mat-raised-button {
    font-weight: 700;
    min-width  : 140px;
}

.mat-tooltip {
    font-size: 12px;
}

mat-spinner.mat-progress-spinner,
mat-progress-spinner.mat-progress-spinner {
    display: inline-block;
    margin : 0 auto;
}