@import '../../styles/colors';

@use '~@angular/material' as mat;

@include mat.core();

$primary-theme: mat.define-light-theme(
    (
        color: (
            primary : $color-light-primary,
            accent  : $color-light-accent,
            warn    : $color-light-warn,
        )
    )
);

$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary : $color-dark-primary,
            accent  : $color-dark-accent,
            warn    : $color-dark-warn,
        )
    )
);

@include mat.all-component-themes($primary-theme);

#{ $dark-theme-selector } {
    @include mat.all-component-colors($dark-theme);
}