@import 'styles';

:host > .mat-toolbar {
    align-items    : center;
    display        : flex;
    font-weight    : $font-weight-bold;
    height         : 60px;
    justify-content: space-between;
    padding        : 0 20px;
    transition     : background-color $duration-short ease;
    width          : 100%;
}